@import "variables";

html {
    height: 100%;
    margin: 0;
    padding: 0;
    body {
        @include font;
        max-height: 100vh;
        margin: 0;
        padding: 0;
        background-color: $white;
    }
}