@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
$theme__font: 'Inter', sans-serif;
$theme__size: 16px;
$white: hsl(36, 100%, 99%);

@mixin d-flex {
    display: flex;
    align-items: center;
}

@mixin font {
    font-family: $theme__font;
    font-size: $theme__size;
}